@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container-conversor {
  background-image: url('./assets/blob-scene-haikei.png');
  background-repeat: no-repeat;
  background-size: cover;
  }

body,html{
  background-color: #ededed;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}




/* Criação das animações */
@keyframes letras {
  0% {
    letter-spacing: 1em;
    transform: translateZ(100px) translateY(-100px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;

  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

